{% include head.html %}

<!-- <div class="container-fluid riassunti">
<div class="row riassunto">
    <div class="col-12 categoria orso collapse" id="collapseExample"> 
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        CACCIA ALL'ORSO
    </div>
    <div class="col-12 categoria"> 
    </div>
    <div class="col-12 categoria"> 
    </div>
    <div class="col-12 categoria"> 
    </div>
    <div class="col-12 categoria"> 
    </div>
</div>
</div> -->






    <body>
        <!-- partial:index.partial.html -->
        <div class="container-fluid esperienzeglobale">
          <div class="accordion-option">
            <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
          </div>
          <div class="clearfix"></div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading orso" role="tab" id="headingOne">
                <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 CACCIA ALL'ORSO
                </a>
              </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    
                    Il nostro pacchetto per la caccia all’orso prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia dell’orso viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore.
                    Gli esemplari cacciabili possono raggiungere pesi superiori ai 500 kg assicurando degli ottimi trofei.
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento dell’animale, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo pacchetto completo a partire da 7.000,00 €
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading lupo" role="tab" id="headingTwo">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    CACCIA AL LUPO
                </a>
              </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Il nostro pacchetto per la caccia al lupo prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia al lupo viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore.
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.000€
                    Per ogni capo aggiuntivo 1.000€
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading camoscio" role="tab" id="headingThree">
                <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    CACCIA AL CAMOSCIO 
                </a>
              </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Il nostro pacchetto per la caccia al camoscio prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.300€
                    Per ogni capo aggiuntivo 1.300€
                </div>
              </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading cinghiale" role="tab" id="headingFour">
                  <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      CACCIA AL CINGHIALE
                  </a>
                </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                    
                  <div class="panel-body">
                      
                    Il nostro pacchetto per la caccia al cinghiale prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    I cinghiali di questa regione son molto rinomanti per le loro dimensioni e per la particolare grandezza dei loro trofei.
                    Gli esemplari superano facilmente i 150kg con trofei anche superiori ai 20 cm
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia al cinghiale viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore oppure in modo vagante in base alla preferenza del clienti
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.000€
                    Per ogni capo aggiuntivo 1.000€
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading serbia" role="tab" id="headingFive">
                  <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      CACCIA IN SERBIA 
                  </a>
                </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    Il nostro pacchetto di caccia in Serbia prevede 3 giorni di Caccia nella nostra riserva ad un ora da Belgrado
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione della selvaggina dopo la cattura.
                    Offriamo un pacchetto di caccia molto variegato che comprende l’abbattimento di 3 lepri, 3 fagiani e 1 capriolo femmina
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento dei capi sopra indicati, trofei e 3 notti con pensione completa nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 850€
                    Per ogni capo aggiuntivo: lepre 45,00€
                    Fagiano 25,00€
                    2 ° Capriolo femmina 150,00€
                    3°+ Capriolo femmina 100,00 €
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- partial -->
       
        




































    
   <!--  <div class="container-fluid esperienze">
        <div class="row esperienza">
            <div class="col-12 containeresperienza"> 
                <h1 class="titoloesperienza">CACCIA ALL’ ORSO</h1>
                <p class="descrizionesperienza">
                    Il nostro pacchetto per la caccia all’orso prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia dell’orso viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore.
                    Gli esemplari cacciabili possono raggiungere pesi superiori ai 500 kg assicurando degli ottimi trofei.
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento dell’animale, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo pacchetto completo a partire da 7.000,00 €</p>
            </div>
            <div class="immaginiesperienza">
                
            </div>
        </div>
        <div class="row esperienza">
            <div class="col-12 containeresperienza"> 
                <h1 class="titoloesperienza">CACCIA AL LUPO </h1>
                <p class="descrizionesperienza">
                    Il nostro pacchetto per la caccia al lupo prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia al lupo viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore.
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.000€
                    Per ogni capo aggiuntivo 1.000€</p>
            </div>
        </div>
        <div class="row esperienza">
            <div class="col-12 containeresperienza"> 
                <h1 class="titoloesperienza"> CACCIA AL CAMOSCIO </h1>
                <p class="descrizionesperienza">
                    Il nostro pacchetto per la caccia al camoscio prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.300€
                    Per ogni capo aggiuntivo 1.300€</p>
            </div>
        </div>
        <div class="row esperienza">
            <div class="col-12 containeresperienza"> 
                <h1 class="titoloesperienza">CACCIA AL CINGHIALE</h1>
                <p class="descrizionesperienza">
                    Il nostro pacchetto per la caccia al cinghiale prevede 3 giorni di Caccia nei pressi di Mrkonic Grad.
                    I cinghiali di questa regione son molto rinomanti per le loro dimensioni e per la particolare grandezza dei loro trofei.
                    Gli esemplari superano facilmente i 150kg con trofei anche superiori ai 20 cm
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione dell’animale dopo la cattura.
                    La caccia al cinghiale viene svolta viene svolta da un’ altana dotata di tutti i comfort, quali bagno interno, riscaldamento e letti per il riposo del cacciatore oppure in modo vagante in base alla preferenza del clienti
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento di un capo, trofeo e 3 notti con pensione completa presso l’hotel 3 stelle con cui collaboriamo, situato nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 2.000€
                    Per ogni capo aggiuntivo 1.000€</p>
            </div>
        </div>
        <div class="row esperienza">
            <div class="col-12 containeresperienza"> 
                <h1 class="titoloesperienza">CACCIA IN SERBIA</h1>
                <p class="descrizionesperienza">
                    Il nostro pacchetto di caccia in Serbia prevede 3 giorni di Caccia nella nostra riserva ad un ora da Belgrado
                    Durante tutto il tempo di caccia si sarà accompagnati da una guida esperta del luogo, che si occuperà anche della gestione della selvaggina dopo la cattura.
                    Offriamo un pacchetto di caccia molto variegato che comprende l’abbattimento di 3 lepri, 3 fagiani e 1 capriolo femmina
                    Nel prezzo del pacchetto son compresi assicurazione, documentazioni doganali, accompagnatori, utilizzo della postazione di caccia, abbattimento dei capi sopra indicati, trofei e 3 notti con pensione completa nelle prossime vicinanze del territorio di caccia.
                    Prezzo all’inclusive 850€
                    Per ogni capo aggiuntivo: lepre 45,00€
                    Fagiano 25,00€
                    2 ° Capriolo femmina 150,00€
                    3°+ Capriolo femmina 100,00 €
                </p>
            </div>
        </div>
    </div>

 -->

    {% include scripts.html %}
</body>